main {
    max-width: 840px;
}

p {
    padding: 0;
}

main img {
    box-shadow: 0 0 30px grey;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgb(0 0 0/ 0.2);
    padding: 0;
    background-color: #eee;
    color: #333;
    text-align: center;
    margin: 20px 0;
    box-shadow: 0 0 30px grey;

}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

nav {
    background-color: #eee;
    padding: 1em;
}

nav a {
    color: #333;
    padding: 1em;
    display: block;
}

h1 {
    color: #333;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;

}