* {
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header,
footer {
    background-color: brown;
    color: goldenrod;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-family: sans-serif;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
    color: goldenrod;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px grey;
}

section {
    margin: 20px 0;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px;
    background-color: goldenrod;
    font-size: .9rem;
    box-shadow: 0 0 30px grey;
}

h2 {
    color: brown;
    border-bottom: 1px solid brown;

}

section p {
    margin: 10px;
}

ul {
    margin: 10px 20px 0;
    color: brown
}

footer {
    font-size: .9rem;
    color: black;
}